{% extends "home.html" %}

{% block panel %}
<p class="hi">Whitelist</p>

<div class="ui checkbox">
    <input type="checkbox" class="enabled"
        {% if c['enabled'] %}
        checked
        {% endif %}
    >
    <label>Enabled</label>
</div>

<br><br>

<p>Only active HackPSU organizers (from the API) and the bot email can trigger faqbot.</p>

<table class="ui celled padded table wd">
    <thead>
        <tr>
            <th>Active Organizer Emails</th>
        </tr>
    </thead>
    <tbody>
        {% for email in organizers %}
        <tr>
            <td>{{ email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script>
$(document).ready(() => {

$('.enabled').change(function() {
    var url;
    if ($(this).is(':checked')) {
        url = '/whitelist/api/enable';
    } else {
        url = '/whitelist/api/disable';
    }

    $.get(url);
});

});
</script>
{% endblock %}
